@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');

html, body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-size: 40px;
}

main {
  height: 100%;
  width: 100%;
  justify-content: flex-end;
}

.container {
  padding: 15px;
  flex: 1;
}

.banner {
  align-items: center;
  height: calc(100vh - 30px);
  left: 0;
  position: fixed;
  width: calc(60% - 30px);
}

.banner,
input[type="text"].campo-input:focus, 
.inline.radio .label input[type="radio"]:checked + .radio-text {
  background: linear-gradient(to top,#9d50bb,  #6e48aa);
  color: #fff;
}

.banner h1 {
  font-size: 3.5rem;
}

.form {
  flex: none;
  position: absolute;
  width: calc(40% - 30px);
}

.form form {
  width: 100%;
}

.grupo-campo {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 15px 0;
  width: 100%;
}

main, .inline, .label, .container {
  display: flex;
}

.inline {
  justify-content: space-around;
}

.inline.radio, input {
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1.1rem;
} 

.inline.radio .label {
  flex: 1;
}

.inline.radio .label input[type="radio"] {
  display: none;
  visibility: hidden;
}

.titulo-campo {
  font-size: 1rem;
  font-weight: 700;
}
.radio-text {
  padding: 12px 20px;
  text-align: center;
}

.radio-text, .button-form {
  transition: all .5s ease-in-out;
}

.inline.radio .label:not(:last-child) {
  border-right: 1px solid #ccc;
}

.label {
  cursor: pointer;
  flex-direction: column;
}

.campo-input {
  padding: 12px 20px;
  width: calc(100% - 40px);
}

select.campo-input {
  min-width: 260px;
  min-height: 44px;
  
}

.button-form {
  background-color: #9d50bb;
  border-radius: 4px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0 auto;
  padding: 15px 25px;
  width: 180px;

}

.button-form:hover {
  background-color: #6e48aa;
}

